@model Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Kategori Ekleme Sayfası</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="CategoryName">Kategori Adı</label>
                        <input type="text" class="form-control" id="CategoryName" placeholder="Kategori Adını Yazınız" asp-for="CategoryName" required />
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kategoriyi Ekle</button>
                    <a asp-action="CategoryList" class="btn btn-light">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>