<footer class="footer border-top bg-white">
    <div class="d-sm-flex justify-content-center justify-content-sm-between py-3 px-4">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            Copyright © @DateTime.Now.Year. <strong>Tüm hakları saklıdır.</strong>
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">
            Entity Framework Core & LINQ <i class="mdi mdi-heart text-danger ml-1"></i>
        </span>
    </div>
</footer>