@model List<string>
@{
    ViewData["Title"] = "CustomerIntersectByCity";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ankara ve İstanbul Şehirlerindeki Ortak Müşteriler</h4>
                <p class="card-description">Her iki şehirde de kaydı bulunan müşterilerin kesişim kümesi.</p>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="bg-light">
                                <th>Müşteri Adı Soyadı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <i class="mdi mdi-account-check text-success mr-2"></i> @item
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-muted text-center">Kesişim kümesinde eşleşen kayıt bulunamadı.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>