@model List<Todo>

<div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
    <div class="add-items d-flex px-3 mb-0">
        <form class="form d-flex w-100">
            <input type="text" class="form-control todo-list-input" placeholder="Yeni görev ekle...">
            <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Ekle</button>
        </form>
    </div>
    <div class="list-wrapper px-3">
        <ul class="d-flex flex-column-reverse todo-list">
            @foreach (var item in Model)
            {
                <li class="@(item.Status ? "completed" : "")">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="checkbox" type="checkbox" @(item.Status ? "checked" : "")>
                            @item.Description
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
            }
        </ul>
    </div>
    <div class="events py-4 border-bottom px-3">
        <div class="wrapper d-flex mb-2">
            <i class="mdi mdi-circle-outline text-primary mr-2"></i>
            <span>Son Görevler</span>
        </div>
        <p class="mb-0 font-weight-thin text-gray">Veritabanından çekilen son 10 kayıt listelenmektedir.</p>
    </div>
</div>