<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StoreFlow - Yönetim Paneli</title>
    
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/vendors/css/vendor.bundle.addons.css">
    
    <link rel="stylesheet" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/css/style.css">
    
    <link rel="shortcut icon" href="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/favicon.png" />
</head>